{% extends 'base.html' %}
{% block content %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <title> {% block title %} ML DASHBOARD {% endblock %} </title>
    <div class="flex-container" style="display: flex;  justify-content: space-around; flex-wrap: wrap;";>
      
      <!-- Continuous data graph -->
      {% for element in elements %}
        
        {% set name = element[0] %}
        {% set labels = element[1] %}
        {% set values1 = element[2] %}
        {% set values2 = element[3] %}
        {% set type = element[4] %}

        {% if type == 'continuous' %}
       
        <div style="width: 35em;">
            <div  style="text-align: center;"> {{name|safe}} </div>
            <canvas id="lineChart{{ loop.index }}"> </canvas>
            
            <script>
              const ctx{{ loop.index }} = document.getElementById('lineChart{{ loop.index }}').getContext('2d');

                const data{{ loop.index }} = {
                  labels: {{ labels|safe }},
                  datasets: [{
                    label: 'Reference Distribution',
                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                    fill: true,
                    borderColor: 'rgb(75, 192, 192)',
                    borderWidth: 1.5,
                    pointRadius: 0,
                    data: {{ values1 | safe }},
                    lineTension: 0.15
                  },
                  {
                    label: 'Current Distribution',
                    backgroundColor: 'rgb(255, 99, 132, 0.2)',
                    fill: true,
                    borderColor: 'rgb(255, 99, 132)',
                    borderWidth: 1.5,
                    pointRadius: 0,
                    data: {{ values2|safe }},
                    lineTension: 0.15
                  }
                  ]
                };
              
                const config{{ loop.index }} = {
                  type: 'line',
                  data: data{{ loop.index }}
                };
                
                const myChart{{ loop.index }} = new Chart(ctx{{ loop.index }},
                  config{{ loop.index }}
                );
              </script>

              <hr>
            
        </div>
        
      
      {% else %}
        <!-- Barplot -->
        <div style="width: 35em;">
          
          <div style="text-align: center;"> {{name|safe}} </div>
            <canvas id="barChart{{ loop.index }}"> </canvas>
            
            <script>
                const ctx_bar{{ loop.index }} = document.getElementById('barChart{{ loop.index }}').getContext('2d');

                const data_bar{{ loop.index }} = {labels: {{ labels | safe }},
                  datasets: [{
                      label: 'Reference Distribution',
                      data: {{ values1 | safe }},
                      backgroundColor: [
                      'rgba(75, 192, 192, 0.2)'
                      ],
                      borderColor: [
                      'rgba(75, 192, 192)'
                      ],
                      borderWidth: 1.5
                  },
                  {
                      label: 'Current Distribution',
                      data: {{ values2 | safe }},
                      backgroundColor: [
                      'rgba(255, 99, 132, 0.2)'
                      ],
                      borderColor: [
                      'rgba(255, 99, 132)'
                      ],
                      borderWidth: 1.5
                  }
                  ]
                  };
              
                const config_bar{{ loop.index }} = {
                    type: 'bar',
                    data: data_bar{{ loop.index }},
                    options: {
                      scales: {
                        y: {
                          beginAtZero: true
                        }
                      }
                    },
                  };

                const myBarChart{{ loop.index }} = new Chart(
                  ctx_bar{{ loop.index }},
                  config_bar{{ loop.index }}
                );
                
              </script>

              <hr>
            
        </div>    
        {% endif %}
        {% endfor %}
    </div> 

    
{% endblock %}